/*
* Colors
*/
$pop: #2664DF;
$white: #fff;
$dark: #0C0C0C;

/*
* Fonts
*/
$primaryfont: 'Montserrat', sans-serif;     // General purpose for special items
$mheadfont: 'Montserrat', sans-serif;       // Large headings
$sheadfont: 'Source Sans Pro', sans-serif;  // Small headings
$blockfont: 'Source Sans Pro', sans-serif;  // Regular block font

/*
* Font sizes
*/
$jumbo: 5rem;         // 72px
$body: 1.75rem;         // 24px
$smallbody: 1.25rem;
$smallheading: 2rem;    // 32px
$large: 2.5rem;         // 40px
$heading: 3.125rem;     // 50px
$small: 1rem;           // 16px default
