<!DOCTYPE html>
<!-- 
-*  Hey!
-*  The CMS used is Craft CMS
-*  You can see how this site is built in my Git https://github.com/raycohaex/rayco.digital
-*  Want to talk about job opportunities or do you just have general questions?
-*  📧 info@rayco.digital
-*  Or connect to me on LinkedIn 👉 https://www.linkedin.com/in/rayco-haex/ 👈
-->
<html lang="{{craft.app.language}}">
<head>
  <meta charset="utf-8">

    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <meta name="description" content="Rayco Haex Fullstack Webdeveloper Portfolio">
    <meta name="author" content="Rayco Haex">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    {% css "/assets/css/style.min.css" %}

</head>

<body>
    {% include 'includes/header.twig' %}
    {% block body %}

    {% endblock %}
    {% include 'includes/footer.twig' %}
    {% js "/assets/js/main.js" %}

</body>
</html>