<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">

    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <meta name="description" content="Rayco Haex Fullstack Webdeveloper Portfolio">
    <meta name="author" content="Rayco Haex">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@0,700;0,500;0,400&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    {% css "/assets/css/style.min.css" %}

</head>

<body>
    {% include 'includes/header.twig' %}
    {% block body %}

    {% endblock %}
</body>
</html>