<header class="site-menu">
    <nav class="navbar">
    <div class="navbar__left">
        <a href="/" id="site-logo">Rayco Haex</a>
    </div>
    <div class="navbar__center">
        <ul class="navbar-links">
            <li><a href="#sectionabout">About me</a></li>
            <li><a href="#sectionskills">Skills</a></li>
            <li><a href="#sectioncases">Cases</a></li>
            <li><a href="#sectioncontact">Contact</a></li>
        </ul>
    </div>
    <div class="navbar__right">
        =
    </div>
    </nav>
</header>