.job-experience {
    margin: 0 7rem;
    .sub-slogan {
        font-size: $smallbody;
    }
    .achievement-section {
        @include flex;
        justify-content: space-between;
        margin-bottom: 3.125rem;
        .achievement-section__achievement {
            display: flex;
            padding: 0 10px;
            flex-direction: column;
            .achievement-section__achievement__year {
                color: $pop;
                font-size: $heading;
                font-weight: 800;
                font-family: $primaryfont;
            }
            .achievement-section__achievement__description {
                font-size: $smallbody;
                max-width: 6rem;
            }
        }
    }
}

.skills{
    display: flex;
    flex-wrap: wrap;
    .skills__skill {
        flex: 50% 0;
        @include s-desktop () {
            flex: 100% 0;
        }
        @include flex;
        margin-bottom: 1.75rem;
        padding-right: 3rem;
        @include mobile () {
            padding-right: 0;
        }
    .skills__skill__skill-index {
        font-family: $primaryfont;
        font-size: $smallheading;
        font-weight: 600;
        color: rgba($dark, 0.3);
        margin-right: 1.5rem;
        flex: 3ch 0 0;
        @include mobile () {
            font-size: 1rem;
            margin-right: 0.5rem;
            margin-top: 0.15rem;
        }
    }
    .skills__skill__content{
        h3 {
            font-size: $smallheading;
            @include mobile() {
                font-size: #{$smallheading / 1.6};
            }
        }
    }
    }
}

.portfolio-items {
    @include flex;
    flex-wrap: wrap;
    .portfolio-items__item {
        position: relative;
        small {
            font-size: $smallbody;
            @include mobile() {
                font-size: 14px;
            }
        }
        .portfolio-items__item__award {
            position: absolute;
            z-index: 55;
            background: $pop;
            color: $white;
            right: 80px;
            top: 30px;
            padding: 10px;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 20px;
        }
        margin-top: 60px;
        flex: 50% 0 1;
        padding: 0 48px;
        @include s-desktop() {
            flex: 100% 0 1;
            padding: 0 8px;
            &:last-child {
                margin-bottom: 150px;
            }
        }
        &:first-child
        {
            margin-top: 0;
        }
        h3 {
            font-size: 20px;
        }
        img {
            width: 100%;
            height: 550px;
            @include desktop () {
                height: 350px;
            }
            object-fit: cover;
        }
    }
}

#intro-text {
    margin-left: 7rem;
}

#portfolio-more-work-cta {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 550px;
    @include desktop () {
        height: 350px;
    }
    @include s-desktop () {
        height: unset;
    }
    @include mobile() {
        width: 70%;
        font-size: 20px;
    }
    width: calc(50% - 48px);
    #portfolio-more-work-cta__content {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 40px;
        z-index: 2;
        background-color: rgba($pop, 0.92);
        font-family: $primaryfont;
        color: $white;
        font-weight: 700;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
}

@include desktop() {
    .job-experience {
        margin: 30px 7rem 0;
        max-width: 50%;
    }
    #intro-text {
        margin: 0 3.5rem;
    }
}
@include s-desktop() {
    .job-experience {
        max-width: unset;
    }
    #intro-text {
        margin: 0 1.5rem;
        max-width: 80%;
    }
}
@include mobile() {
    .job-experience {
        margin: 30px 0 0 0.5rem;
    }
    #intro-text {
        margin: 0 0.5rem;
        max-width: 70vw;
    }
}

#canvas3d {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤘</text></svg>") 16 0,auto;
    height: 650px !important;
    width: 650px !important;
    position: absolute;
    z-index: 555;
    top: -197px;
    mix-blend-mode: darken;
    @include mobile() {
        height: 500px !important;
        width: 450px !important;
        top: -117px;
        left: -80px;
    }
}


