.job-experience {
    margin: 0 7rem;
    .sub-slogan {
        font-size: $smallbody;
    }
    .achievement-section {
        @include flex;
        justify-content: space-between;
        margin-bottom: 3.125rem;
        .achievement-section__achievement {
            display: flex;
            flex-direction: column;
            .achievement-section__achievement__year {
                color: $pop;
                font-size: $heading;
                font-weight: 800;
                font-family: $primaryfont;
            }
            .achievement-section__achievement__description {
                font-size: $smallbody;
                max-width: 6rem;
            }
        }
    }
}

.skills{
    display: flex;
    flex-wrap: wrap;
    .skills__skill {
        flex: 50% 0;
        @include flex;
        margin-bottom: 1.75rem;
        padding-right: 3rem;
    .skills__skill__skill-index {
        font-family: $primaryfont;
        font-size: $smallheading;
        font-weight: 600;
        color: rgba($dark, 0.3);
        margin-right: 1.5rem;
        flex: 3ch 0 0;
    }
    .skills__skill__content{
        h3 {
            font-size: $smallheading;
        }
    }
    }
}
