html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
  }

body {
    font-size: $body;
    font-family: $blockfont;
    color: $dark;
    background: $white;
}

*::selection {
    color: $white;
    background: $pop;
}

a {
    text-decoration: none;
    color: $pop;
    cursor: pointer;
    &:hover,
    &:visited,
    &:active,
    &:focus {
        color: $pop;
    }
}

.icon {
    width: 22px;
    height: 22px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: square;
    stroke-linejoin: miter; 
    &.icon--light { 
        color: $white;
    }
    &.icon--margin-right {
        margin-right: 0.9rem;
    }
    &.icon--fill 
    {
        fill: $dark;
        stroke: none;
    }
    &.icon--fill.icon--light {
        fill: rgba($white, 0.5);
    }
}

.margin-auto {
    margin: auto;
}

.flex-50 {
    flex: 50% 0;
}
.flex-25 {
    flex: 25% 0;
}
.flex-10 {
    flex: 10% 0;
}

.overflow-hidden {
    overflow: hidden;
}