.section {
    margin: 0 13rem;
    ol {
        margin: 10px 0 0 2ch;
        font-size: 1.25rem;
        li {
            font-size: inherit;
        }
    }
    &.section--spacing {
        padding: 130px 0;
        @include mobile() {
            padding: 50px 0;
        }
    }
    p {
        max-width: 75ch;
    }
    &.section--light {
        border-left: 5px solid rgba($dark, 0.08);
        border-right: 5px solid rgba($dark, 0.08);
        @include mobile() {
            border-left: none;
        }
    }
    &.section--dark {
        border-left: 5px solid rgba($white, 0.08);
        border-right: 5px solid rgba($white, 0.08);
        color: $white;
        @include mobile() {
            border-left: none;
        }
    }
}

.anti-section {
    ol {
        margin: 10px 0 0 2ch;
        font-size: 1.25rem;
        li {
            font-size: inherit;
        }
    }
    &.anti-section--spacing {
        padding: 130px 0;
        @include mobile() {
            padding: 50px 0;
        }
    }
    p {
        max-width: 75ch;
    }
    position: relative;
    &::after{ 
        content: '';
        pointer-events: none;
        width: calc(100% - (26rem + 10px));
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 13rem;
        z-index: -1;
        
    }
    &.anti-section--light {
        &::after{
            border-left: 5px solid rgba($dark, 0.08);
            border-right: 5px solid rgba($dark, 0.08);
            @include mobile() {
                border-left: none;
            }
            z-index: 1;
        }
    }
    &.anti-section--dark {
        &::after{
        border-left: 5px solid rgba($white, 0.08);
        border-right: 5px solid rgba($white, 0.08);
        @include mobile() {
            border-left: none;
        }
        z-index: 1;
        }
    }
}

@include desktop() {
    .section {
        margin: 0 7rem;
    }
    .anti-section {
        &::after{
            margin: 0 7rem;
            width: calc(100% - (14rem + 10px));
        }
    }
}

@include s-desktop() {
    .section {
        margin: 0 5rem;
    }
    .anti-section {
        &::after{
            margin: 0 5rem;
            width: calc(100% - (10rem + 10px));
        }
    }
}

@include mobile() {
    .section {
        margin: 0 3.5rem 0 0;
    }
    .anti-section {
        &::after{
            margin: 0 3.5rem 0 0;
            width: calc(100% - (3.5rem + 5px));
        }
    }
}

.section-wrapper--dark {
    background-color: $dark;
    @include flex;
    flex-direction: column;
}

.entry-content {
    height: 150px;
    @include s-desktop {
        height: 110px;
    }
    @include mobile {
        height: 40px;
    }
}

.anti-section__1-2 {
    flex: 1;
    @include flex;
}

.anti-section__3 {
    width: 13rem;
    @include flex;
}

@include desktop {
    .anti-section__3 {
        width: 7rem;
    }
    .anti-section__1-2 {
        flex-direction: column;
    }
}

@include s-desktop {
    .anti-section__3 {
        width: 5rem;
        display: none;
    }
}

@include mobile {
    .anti-section__3 {
        width: 3.5rem;
        display: none;
    }
}

.container {
    @include flex;
    flex-direction: column;
    margin: auto;
    @include l-desktop () {
        padding: 30px 45px;
    }
    @include desktop () {
        padding: 30px 25px;
    }
    @include s-desktop () {
        padding: 30px 15px;
    }
    @include mobile () {
        padding: 30px 8px;
    }
    position: relative;
    &.container--no-padding {
        padding: unset;
    }
    &.container--no-column {
        flex-direction: row;
    }
    &.container--mimic-section-margin {
        
        @include l-desktop () {
            margin: 0 13rem;
        }
        @include desktop () {
            margin: 0 7rem;
        }
        @include s-desktop () {
            margin: 0 5rem;
        }
        @include mobile () {
            margin: 0 3.5rem 0 0;
        }
    }
    p {
        max-width: 75ch;
    }
}