.jumbo-text {
    font-size: $jumbo;
    line-height: $jumbo;
    font-weight: 600;
    font-family: $mheadfont;
}

.block-text {
    strong {
        font-weight: 600;
    }
}

.section,
.anti-section {
    position: relative;
    h1,
    h2, 
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        font-family: $mheadfont;
        margin: 0 0 20px;
    }
    p {
        font-size: $smallbody;
        line-height: #{$smallbody * 1.54};
    }

    h2 {
        font-size: $heading;
        margin-bottom: 3rem;
        margin-top: 2rem;
        max-width: 50%;
    }

}